.model_details.item_set
  %h2= @item_set

  .box
    %span.title Parts
    .set_items
      - @item_set.set_items.each do |set_item|
        .set_item
          = link_to set_item.main_item, set_item.main_item
          - if set_item.alternative_item
            or 
            = link_to set_item.alternative_item, set_item.alternative_item

  .box
    %span.title Properties
    .properties
      - if @item_set.traits.empty?
        None
      - @item_set.traits.each do |trait|
        .property= render trait
        
= render "/share/development_box", :model => @item_set