.model_details.item_set
  .header
    .model_icon= ragnarok2_icon_image_tag(@item_set.parts.first.icon, :alt=>@item_set.parts.first.name)
    %h2= @item_set

  .box
    .title Properties
    .error
      Those values have not been verified yet and need to be recalculated (e.g. devided by 10 to get percents or something similiar).
      = link_to "Please help us.", main_app.missing_information_path
    .properties
      - if @item_set.traits.empty?
        None
      - @item_set.traits.each do |trait|
        .property= render trait

  - @item_set.set_items.each do |set_item|
    .twin_boxes
      .box_left.box
        .title Main part
        = render set_item.main_item
      - if set_item.alternative_item
        .box_right.box
          .title Alternative part
          = render set_item.alternative_item
        
= render "/share/development_box", :model => @item_set