.model_details.khara
  %h2= @khara


  .box
    %span.title Requirements
    .requirement= booleanize_string("Auto challenge", !@khara.auto_challenge.zero?)
    .requirement Level #{@khara.min_base_level} ~ #{@khara.max_base_level}
    - unless @khara.min_projob_level.zero?
      .requirement ProJob Level #{@khara.min_base_level} ~ #{@khara.max_base_level}
    - unless @khara.min_khara_point.zero?
      .requirement Khara Points #{@khara.min_khara_point} ~ #{@khara.max_khara_point}

    - unless @khara.condition_type.zero?
      - case @khara.condition_type
        - when 8
          - quest = Ragnarok2::Quest.find_by_quest_id(@khara.condition_value1)
          Quest #{link_to quest, quest}
      - else
        = render "share/missing_information"

  .box
    %span.title Tasks
    .tasks
      - unless @khara.limit_time.zero?
        .task Timelimit #{@khara.limit_time}
      - @khara.tasks.each do |task|
        .task
          - case task.complete_type
            - when 2
              - target = Ragnarok2::Citizen.find_by_citizen_id(task.complete_type_value1)
              Hunt #{task.complete_type_value2} #{link_to target.to_s.pluralize(task.complete_type_value2), target}
            - when 4
              - target = Ragnarok2::Item.find_by_item_id(task.complete_type_value1)
              Get #{task.complete_type_value2} #{link_to target.to_s.pluralize(task.complete_type_value2), target}
            - when 14
              = pluralize(task.complete_type_value1, "Combat level")
              archived
            - when 15
              = pluralize(task.complete_type_value1, "Profession level")
              archived
            - when 17
              - target = Ragnarok2::ItemCategory.find_by_high_category(task.complete_type_value1)
              Refine #{task.complete_type_value2} #{link_to target.to_s.pluralize(task.complete_type_value2), target}
            - when 18
              - target = Ragnarok2::ItemCategory.find_by_high_category(task.complete_type_value1)
              Successfully refine #{task.complete_type_value2} #{link_to target.to_s.pluralize(task.complete_type_value2), target}
            - when 22
              = pluralize(task.complete_type_value1, "title")
              acquired
            - when 40
              - target = Ragnarok2::Khara.main_quests.find_by_quest_id(task.complete_type_value1)
              Complete #{link_to target, target}
          - else
            = render "share/missing_information"

  .box
    %span.title Rewards
    .reward= booleanize_string("Automatic reward", !@khara.reward_auto.zero?)
    - if @khara.citizen
      .reward Rewards given by #{@khara.citizen}
    - if @khara.reward_title
      .reward.khara_title
        Title:
        = @khara.reward_title
        %ul
          = list_of @khara.reward_title.khara_attributes.bonus_attributes do |attribute, value|
            = attribute.to_s.upcase
            = value
    - unless @khara.reward_khara_point.zero?
      .reward #{@khara.reward_khara_point} Khara points
    - unless @khara.reward_honor_point.zero?
      .reward #{@khara.reward_honor_point} Honor points
    - @khara.tasks.each_with_index do |task|
      .reward
        - case task.action_type
          - when 5
            #{task.action_value1} Rupee
          - when 10
            #{task.action_value1} Exp
          - when 11
            #{task.action_value1} JobExp
        - else
          = render "share/missing_information"

- @khara.tasks.each do |khara|
  = render "/share/development_box", :model => khara
