.model_details.khara
  %h2= @khara


  .box
    %span.title Requirements
    .requirement Level #{@khara.min_base_level} ~ #{@khara.max_base_level}
    - unless @khara.min_projob_level.zero?
      .requirement ProJob Level #{@khara.min_base_level} ~ #{@khara.max_base_level}
    - unless @khara.min_khara_point.zero?
      .requirement Khara Points #{@khara.min_khara_point} ~ #{@khara.max_khara_point}

  .box
    %span.title Tasks
    .task
      - if @khara.complete_type == 2
        - target = Ragnarok2::Citizen.find_by_citizen_id(@khara.complete_type_value1)
        .task Hunt #{@khara.complete_type_value2} #{link_to target.to_s.pluralize(@khara.complete_type_value2), target}
      - else
        = render "share/missing_information"

  .box
    %span.title Rewards
    .reward= booleanize_string("Automatic reward", !@khara.reward_auto.zero?)
    - if @khara.citizen
      .reward Rewards given by #{@khara.citizen}
    - if @khara.reward_title
      .reward.khara_title
        Title:
        = @khara.reward_title
        %ul
          = list_of @khara.reward_title.khara_attributes.bonus_attributes do |attribute, value|
            = attribute.to_s.capitalize
            = value
    - unless @khara.reward_khara_point.zero?
      .reward #{@khara.reward_khara_point} Khara points
    - unless @khara.reward_honor_point.zero?
      .reward #{@khara.reward_honor_point} Honor points

= render "/share/development_box", :model => @khara
