.model_details.khara
  %h2= @khara


  .box
    %span.title Requirements
    .requirement Level #{@khara.min_base_level} ~ #{@khara.max_base_level}
    - unless @khara.min_projob_level.zero?
      .requirement ProJob Level #{@khara.min_base_level} ~ #{@khara.max_base_level}
    - unless @khara.min_khara_point.zero?
      .requirement Khara Points #{@khara.min_khara_point} ~ #{@khara.max_khara_point}


  .box
    %span.title Tasks
    .task
      - if @khara.complete_type == 2
        - target = Ragnarok2::Citizen.find_by_citizen_id(@khara.complete_type_value1)
        .task Hunt #{@khara.complete_type_value2} #{link_to target.to_s.pluralize(@khara.complete_type_value2), target}
      - else
        = render "share/missing_information"

  .box
    %span.title Rewards
    - if @khara.citizen
      .reward Rewards given by #{@khara.citizen}
    .reward #{@khara.reward_khara_point} Khara points
    .reward #{@khara.reward_honor_point} Honor points

= render "/share/development_box", :model => @khara
