.model_details.khara
  %h2= @khara


  .box
    %span.title Requirements
    .requirement= booleanize_string("Auto challenge", !@khara.auto_challenge.zero?)
    .requirement Level #{@khara.min_base_level} ~ #{@khara.max_base_level}
    - unless @khara.min_projob_level.zero?
      .requirement ProJob Level #{@khara.min_base_level} ~ #{@khara.max_base_level}
    - unless @khara.min_khara_point.zero?
      .requirement Khara Points #{@khara.min_khara_point} ~ #{@khara.max_khara_point}

    - unless @khara.condition_type.zero?
      - case @khara.condition_type
        - when 8
          - quest = Ragnarok2::Quest.find_by_quest_id(@khara.condition_value1)
          Quest #{link_to quest, quest}
      - else
        = render "share/missing_information"

  .box
    %span.title Tasks
    .tasks
      - unless @khara.limit_time.zero?
        .task Timelimit #{@khara.limit_time}
      - @khara.tasks.each_with_index do |task|
        .task
          - case task.complete_type
            - when 2
              - target = Ragnarok2::Citizen.find_by_citizen_id(task.complete_type_value1)
              .task Hunt #{task.complete_type_value2} #{link_to target.to_s.pluralize(task.complete_type_value2), target}
            - when 4
              - target = Ragnarok2::Item.find_by_item_id(task.complete_type_value1)
              .task Get #{task.complete_type_value2} #{link_to target.to_s.pluralize(task.complete_type_value2), target}
          - else
            = render "share/missing_information"
          = render "/share/development_box", :model => task

  .box
    %span.title Rewards
    .reward= booleanize_string("Automatic reward", !@khara.reward_auto.zero?)
    - if @khara.citizen
      .reward Rewards given by #{@khara.citizen}
    - if @khara.reward_title
      .reward.khara_title
        Title:
        = @khara.reward_title
        %ul
          = list_of @khara.reward_title.khara_attributes.bonus_attributes do |attribute, value|
            = attribute.to_s.capitalize
            = value
    - unless @khara.reward_khara_point.zero?
      .reward #{@khara.reward_khara_point} Khara points
    - unless @khara.reward_honor_point.zero?
      .reward #{@khara.reward_honor_point} Honor points

= render "/share/development_box", :model => @khara
