.model_details.dungeon
  .header
    %h2= @dungeon

  .box
    %span.title Details
    .details
      - @dungeon.maps.each do |map|
        .detail Map: #{link_to map, map}
      - unless @dungeon.map_min_level.zero?
        .detail Level #{@dungeon.map_min_level} ~ #{@dungeon.map_max_level}
      - if @dungeon.quest
        .detail Required quest: #{link_to @dungeon.quest, @dungeon.quest}
      .detail Basement: #{@dungeon.map_level}

= render "/share/development_box", :model => @dungeon