.model_details.map
  %h2= @map

  .box.details
    .minimaps
      - @map.map_images.each do |mimg|
        .minimap= link_to image_tag(mimg.image(:thumb)), mimg.image.url

    .title Details
    .attributes
      .attributes= booleanize_string("PK", !@map.is_pk.zero?)
      .attributes= booleanize_string("Mount", !@map.is_mount.zero?)
      .attributes= booleanize_string("Skill", !@map.is_skill.zero?)
      .attributes= booleanize_string("Attack", !@map.is_pk.zero?)

  .box.quests
    .title Quests
    .quests
      = (render @map.quests.default_order) || "None"

  .box
    .title Dungeons
    .dungeons
      = (render @map.dungeons.default_order) || "None"

  - unless @map.spawn_points.empty?
    .box.twin_boxes
      .title NPCs
      - @map.citizens.uniq.each do |citizen|
        .spawnpoint{:class=>cycle("box_left", "box_right", :name => "spawn_list_boxes")}
          = link_to citizen, citizen
= render "/share/development_box", :model => @map
