.model_details.map
  %h2= @map

  .box.details
    .minimap= ragnarok2_minimap_image_tag(@map)
    %span.title Details
    .attributes
      .attributes= booleanize_string("PK", !@map.is_pk.zero?)
      .attributes= booleanize_string("Mount", !@map.is_mount.zero?)
      .attributes= booleanize_string("Skill", !@map.is_skill.zero?)
      .attributes= booleanize_string("Attack", !@map.is_pk.zero?)

  .box.quests
    %span.title Quests
    .quests
      = (render @map.quests.default_order) || "None"

  .box
    %span.title Dungeons
    .dungeons
      = (render @map.dungeons) || "None"

= render "/share/development_box", :model => @map
