%div[item]{:class=>[:item, :model_listing, cycle("odd", "even")]}
  .description= simple_format(ragnarok2_human_description(item.description))
  .model_icon= link_to ragnarok2_icon_image_tag(item.icon, :alt=>""), item
  .model_name
    = link_to item, item
  - unless item.require_level.zero?
    .attribute Required Level: #{item.require_level}
  - unless item.jobs.empty?
    .requirement Job: #{item.jobs.join(", ")}
  - if item.skill && item.skill.description
    .attribute Effect: #{ragnarok2_human_description(item.skill.description)}