%div[item]{:class=>[:item, :model_listing, cycle("odd", "even")]}
  .model_icon= link_to ragnarok2_icon_image_tag(item.icon, :alt=>""), item
  .model_name= link_to item, item
  .category= item.category
  - unless item.require_level.zero?
    .attribute Required Level: #{item.require_level}
  - unless item.jobs.empty?
    .requirement Job: #{item.jobs.join(", ")}